[Desktop Entry]
Type=Application
Name=sshpass-gui
GenericName=Gestionnaire de connexions SSH
GenericName[en]=SSH connection manager
Comment=Gestionnaire de connexions SSH adosse a Proton Pass
Comment[en]=SSH connection manager backed by Proton Pass
Exec=sshpass-gui
Icon=sshpass-gui
Terminal=false
Categories=Network;RemoteAccess;
Keywords=ssh;terminal;remote;proton;pass;
StartupWMClass=sshpass-gui
